<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
  <th:block layout:fragment="head">
    <title>detail.html</title>
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <h1>detail.html</h1>
  <div th:object="${hBoardRespDTO}">
    <table class="table" >
      <tbody>
      <tr>
        <th style="width: 80px;">제목</th>
        <td th:text="*{title}" colspan="5" class="text-start">제목입니다...</td>
      </tr>
      <tr>
        <th style="width: 80px;">작성자</th>
        <td th:text="*{writer}" class="text-start" style="width: 120px;">홍길동</td>
        <th style="width: 80px;">작성일</th>
        <td th:text="${#dates.format(hBoardRespDTO.postDate, 'yy-MM-dd HH:mm')}"
            class="text-start" style="width: 200px;">2025.05.10</td>
        <th style="width: 80px;">조회수</th>
        <td th:text="*{readCount}" class="text-start">34</td>
      </tr>
      </tbody>
    </table>
    <div th:text="*{content}" class="border rounded p-3 mb-3 text-start"
         style="min-height: 120px; background-color: #f8f9fa;">본문내용
    </div>
    <table class="table table-bordered align-middle mb-4">
      <thead class="table-light">
      <tr>
        <th style="width: 120px;">미리보기</th>
        <th>파일명</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <img src="https://via.placeholder.com/80x80?text=Preview" style="max-width:80px; max-height:80px;">
        </td>
        <td>
          <a href="#">파일명.pdf</a>
        </td>
      </tr>
      <!-- 파일이 여러 개라면 tr을 추가하세요 -->
      </tbody>
    </table>
    <div class="d-flex justify-content-end gap-2">
      <a th:href="|@{/hboard/list}?${pageHBoardReqDTO.params}|" class="btn btn-secondary">목록으로</a>
      <a th:href="|@{/hboard/registerReply}?ref=${hBoardRespDTO.ref}&step=${hBoardRespDTO.step}&refOrder=${hBoardRespDTO.refOrder}&${pageHBoardReqDTO.params}|" class="btn btn-warning">답글작성</a>
      <a th:href="|@{/hboard/modify}?boardNo=${hBoardRespDTO.boardNo}&${pageHBoardReqDTO.params}|" class="btn btn-primary">수정</a>
      <a th:href="|@{/hboard/remove}?boardNo=${hBoardRespDTO.boardNo}&${pageHBoardReqDTO.params}|" class="btn btn-danger">삭제</a>
    </div>
  </div>
</div>
</body>
</html>
