<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
  <th:block layout:fragment="head">
    <title>list.html</title>
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <h1>HBoard</h1>
  <div class="text-end mb-3">
    <a href="/hboard/register" class="btn btn-success">글쓰기</a>
  </div>
  <table class="table table-hover">
    <thead class="table-success">
    <tr>
      <th>글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${pageRespDTO.respDTOS}">
      <td th:text="${post.boardNo}">글번호</td>
      <td class="text-start">
        <div th:style="|margin-left:calc(${post.step} * 20px)|">
          <span th:if="${post.step > 0}">↳</span>
          <a th:href="@{/hboard/detail(boardNo=${post.boardNo}, pageNo=${pageRespDTO.pageNo}, pageSize=${pageRespDTO.pageSize})}" th:text="${post.title}">제목</a>
        </div>
      </td>
      <td th:text="${post.writer}">작성자</td>
      <td th:text="${#dates.format(post.postDate, 'yy-MM-dd HH:mm')}">작성일</td>
      <td th:text="${post.readCount}">조회수</td>
    </tr>
    </tbody>
  </table>
  <div>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:if="${pageRespDTO.showPrevBlockButton}">
        <a class="page-link text-dark"
           th:href="@{/hboard/list(pageNo=${pageRespDTO.blockStartPage - pageRespDTO.pageSize}, pageSize=${pageRespDTO.pageSize})}">Previous</a>
      </li>

      <li th:each="i : ${#numbers.sequence(pageRespDTO.blockStartPage, pageRespDTO.blockEndPage)}"
          class="page-item">
        <a th:text="${i}" th:href="@{/hboard/list(pageNo=${i}, pageSize=${pageRespDTO.pageSize})}" class="page-link text-dark"
           th:classappend="${i eq pageRespDTO.pageNo} ? 'active bg-success text-white' : ''">i</a>
      </li>

      <li th:class="page-item" th:if="${pageRespDTO.showNextBlockButton}">
        <a class="page-link text-dark"
           th:href="@{/hboard/list(pageNo=${pageRespDTO.blockStartPage+pageRespDTO.pageSize}, pageSize=${pageRespDTO.pageSize})}">Next</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
